#slideNoticesContainer
  .notice
    .title ahora disponible la aplicacion Android
    .image
      %img{:src => "/images/android.jpg"}/
    .desc buscanos en google play
  .notice
    .title ahora disponible la aplicacion Android
    .image
      %img{:src => "/images/android.jpg"}/
    .desc buscanos en google play

:javascript
  $('#slideNoticesContainer').cycle('fade');