#slideNoticesContainer
  / - @notices.each do |notice|
  /   .notice
  /     .title= notice.title
  /     .image
  /       %img{:src => "/images/android.jpg"}/
  /     .desc= notice.description
:javascript
  $('#slideNoticesContainer').cycle('fade');