#slideNoticesContainer
  - get_notices.each do |notice|
    .notice
      .title= notice.title
      .image= image_tag notice.image.url(:thumb), class: "avatar"
      .desc= notice.description

:javascript
  $('#slideNoticesContainer').cycle('fade');
