/ main container
.container-fluid
  #pad-wrapper.new-user
    .row-fluid.header
      %h3 Nuevo Usuario

    .row-fluid.form-wrapper
      / left column
      .span9.with-sidebar
        .container
          %form.new_user_form.inline-input
            .span12.field-box
              %label Tipo de Usuario:
              .ui-select.span5
                %select
                  %option{:value => "m"} Medico
                  %option{:value => "p"} Paciente
                  %option{:value => "pl"} Personal de laboratorio
            .span12.field-box
              %label Nombres:
              %input.span9{:type => "text"}/
            .span12.field-box
              %label Apellidos:
              %input.span9{:type => "text"}/
            .span12.field-box
              %label Nombre de Usuario:
              %input.span9{:type => "text"}/
            .span12.field-box
              %label Contrasena:
              %input.span9{:type => "text"}/
            .span12.field-box
              %label Confirmar Contrasena:
              %input.span9{:type => "text"}/
            .span12.field-box
              %label Telefono:
              %input.span9{:type => "text"}/
            .span12.field-box
              %label Celular:
              %input.span9{:type => "text"}/
            .span12.field-box
              %label Direccion:
              %input.span9{:type => "text"}/
            .span12.field-box
              %label Fecha de Nacimiento:
              %input.input-large.datepicker{:type => "text", :value => "00/12/2013"}/


            .span12.field-box.textarea
              %label Notes:
              %textarea.span9
              %span.charactersleft 90 characters remaining. Field limited to 100 characters
            .span11.field-box.actions
              %input.btn-glow.primary{:type => "button", :value => "Create user"}/
              %span OR
              %input.reset{:type => "reset", :value => "Cancel"}/