.container
  #pad-wrapper.user-profile
    %h2.name= @user.full_name
    %h3.name= @user.role
    .row.header
      .col-md-6
        - if @user.image.present?
          = image_tag @user.image.url(:thumb), class: "avatar"
        - else
          %img.avatar{:src => "/images/contact-img.png"}/

      .col-md-6
        %ul
          %li
            %span 