#test-menu-modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    %h3 Modal header
  .modal-body
    %p One fine body…
  .modal-footer
    %a.btn{href: "#"} Close
    %a.btn.btn-primary{href: "#"} Save changes
