#test-menu-modal.modal.hide.fade{ 'aria-hidden' => 'true', 'aria-labelledby' => 'myModalLabel', role: 'dialog', tabindex: '-1' }
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h3= @category.try(:name)
      .modal-body
        - if @category.present?
          - @category.tests.each do |test|
            = label_tag test.parameter, class: 'checkbox' do
              = check_box_tag '', test.parameter, false
              = test.parameter
      .modal-footer
        %a.btn{href: "#"} Close
        %a.btn.btn-primary{href: "#"} Save changes
