$('#test-menu-container').html("#{ j render('test_menu') }");
$('#test-menu-modal').modal('show');

$('.modal-content').click(function() {
	console.log('test');
});

$('.modal-dialog .modal-body .checkbox').first().before('<label for="select_all" class="checkbox"><input type="checkbox" value="0" name="select_all" id="select_all" class="selected-tests">Seleccionar Todo</label>');

$("#select_all").click(function(){
	console.log($(this).prop('checked'));
	if($(this).prop('checked')) {
		$('.selected-tests').prop('checked', true);
	} else {
		$('.selected-tests').prop('checked', false);
	}
});