.header
  %ul
    %li
      .big
        %span.title1.bold NOMBRE:
        %span.title.desc= @analysis.patient_full_name
    %li
      .big
        %span.title1.bold MEDICO SOL.:
        %span.title.desc= @analysis.doctor_full_name
    %li
      .small
        %span.title2.bold FECHA DE RECEPCIÓN :
        %span.title.desc= I18n.l @analysis.receipt_datetime, format: "%d / %m / %Y"
      .small
        %span.title2.bold FECHA DE ENTREGA :
        %span.title.desc= I18n.l @analysis.delivery_datetime, format: "%d / %m / %Y"


:css
  .header{
    page-break-inside:avoid; 
    page-break-after:auto;
    float:left;
    /*width: 700px;*/
    /*width: 100%;*/
    /*height: 100px;*/
    padding: 0px;
    /*margin: -60px 15px 0;*/
    margin: 0 15px 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 2px solid #000;
  }
  .header ul{
    float:left;
    list-style-type:none;
  }
  .header ul li{
    float:left;
    margin-bottom: 10px;
  }
  .header ul li span{
    float:left;
  }
  .header ul li .title1{
    font-weight: bold;
    font-size: 14px;
    width: 115px;
  }
  .header ul li .title2{
    font-weight: bold;
    font-size: 14px;
    width: 180px;
  }
  .header ul li .desc{
    font-size: 14px;
  }
  .header ul li .big{
    width: 650px;
    float: left;
  }
  .header ul li .small{
    width: 320px;
    float: left;
  }

  / .pdf-container{
  /   float:left;
  /   width: 600px; 
  /   margin: 100px 0 0 100px;
  / }
  / table {
  /     background-color: transparent;
  /     border-collapse: collapse;
  /     border-spacing: 0;
  /     max-width: 100%;
  / }
  / .tablepdftitle {
  /     margin-bottom: 20px;
  /     width: 100%;
  / }
  / .tablepdftitle th, .tablepdftitle td {
  /   border-top: 1px solid #DDDDDD;
  /   line-height: 20px;
  /   padding: 8px;
  /   text-align: left;
  /   vertical-align: top;
  /   font-size: 12px;
  / }
  / .tablepdftitle th {
  /   font-weight: bold;
  /   text-align:center;
  /   background-color: #ccc;
  / }
  / .tablepdftitle td {
  /     text-align:center;
  / }
  / .tablepdftitle thead th {
  /     vertical-align: bottom;
  / }
  / .tablepdftitle caption + thead tr:first-child th, .tablepdftitle caption + thead tr:first-child td, .tablepdftitle colgroup + thead tr:first-child th, .tablepdftitle colgroup + thead tr:first-child td, .tablepdftitle thead:first-child tr:first-child th, .tablepdftitle thead:first-child tr:first-child td {
  /     border-top: 0 none;
  / }
  / .tablepdftitle tbody + tbody {
  /     border-top: 2px solid #DDDDDD;
  / }