.categoryContainerx
  .categoryContainery
  .categoryContainery
  .categoryContainery
  .categoryContainery
  .categoryContainery
/ .categoryContainer
/   - @categories.each do |category|
/     .block-container
/       .tablepdf     
/         %h4= category.description
/         %table.table
/           - if category.category == "table1"
/             %thead
/               %tr
/                 %th.text-center PARÁMETRO
/                 %th.text-center RESULTADO
/                 %th.text-center UNIDADES
/                 %th.text-center VALORES DE REFERENCIA
/             %tbody
/               - category.tests.each do |test|
/                 - laboratory = get_result_for(@analysis, test)
/                 %tr
/                   %td.text-center= test.parameter
/                   %td.text-center
/                     - if laboratory.present? && laboratory.result.present?
/                       = laboratory.result
/                   %td.text-center= test.unit
/                   %td.text-center= test.reference_values
/           - if category.category == "table2"
/             %thead
/               %tr
/                 %th.text-center PARÁMETRO
/                 %th.text-center RESULTADO
/             %tbody
/               - category.tests.each do |test|
/                 - laboratory = get_result_for(@analysis, test)
/                 %tr
/                   %td.text-center= test.parameter
/                   %td.text-center
/                     - if laboratory.present? && laboratory.result.present?
/                       = laboratory.result
/           - if category.category == "table3"
/             %thead
/               %tr
/                 %th.text-center PARÁMETRO
/                 %th.text-center RESULTADO
/                 %th.text-center UNIDADES
/                 %th.text-center VALORES DE REFERENCIA
/             %tbody
/               - category.tests.each do |test|
/                 - laboratory = get_result_for(@analysis, test)
/                 %tr
/                   %td.text-center= test.parameter
/                   %td.text-center
/                     - if laboratory.present? && laboratory.result.present?
/                       = laboratory.result
/                   %td.text-center= test.unit
/                   %td.text-center= test.reference_values
/           - if category.category == "table4"
/             %thead
/               %tr
/                 %th.text-center PARÁMETRO
/                 %th.text-center RESULTADO
/                 %th.text-center VALORES DE REFERENCIA
/             %tbody
/               - category.tests.each do |test|
/                 - laboratory = get_result_for(@analysis, test)
/                 %tr
/                   %td.text-center= test.parameter
/                   %td.text-center
/                     - if laboratory.present? && laboratory.result.present?
/                       = laboratory.result
/                   %td.text-center= test.reference_values
/           - if category.category == "image"
/             %thead
/               %tr
/                 %th.text-center Imagen
/             %tbody
/               - category.tests.each do |test|
/                 - laboratory = get_result_for(@analysis, test)
/                 %tr
/                   %td.text-center{colspan: 3}
/                     - if laboratory.present? && laboratory.image.present?
/                       = wicked_pdf_image_tag_j laboratory.image.url
/           - if category.category == "desc"
/             %thead
/               %tr
/                 %th.text-center Descripcion
/             %tbody
/               - category.tests.each do |test|
/                 - laboratory = get_result_for(@analysis, test)
/                 %tr
/                   %td.text-center{colspan: 3}
/                     - if laboratory.present? && laboratory.desc.present?
/                       = laboratory.desc



:css
  .categoryContainerx{
    float:left;
    margin: 120px 0 50px 75px;
    width: 500px;
  }
  .categoryContainery{
    float:left;
    margin: 0 0 10px;
    width: 100%;
    height: 200px;
    background-color: #ddd;
  }
  .categoryContainer{
    float:left;
    margin: 150px 0 0 100px;
  }
  .block-container{
    float:left;
    width: 600px;
    margin-bottom: 150px;
    /*margin: 100px 0 0 100px;*/
  }
  table {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  .tablepdf {
    width: 100%;
  }
  .tablepdf th, .tablepdf td {
    /*border-top: 1px solid #DDDDDD;*/
    border: 1px solid #000;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
    background-color: transparent;
    text-align:center;
    font-family: sans-serif;
  }
  .tablepdf th {
    border: 1px solid #000;
    text-transform: uppercase;
    font-weight: bold;
    text-align:center;
    vertical-align: bottom;
    background-color: #CCCCCC;
  }
  .tablepdf td {
    text-align:center;
  }
  
  .tablepdf tbody + tbody {
    border-top: 2px solid #DDDDDD;
  }
  .tablepdf .table {
    background-color: transparent;
  }