.row.background-sky
  .col-lg-12
    .page-header
      %h1#type Laboratorios Analizate



%section#feature_slider
  /
    Each slide is composed by <img> and .info
    \- .info's position is customized with css in index.css
    \- each <img> parallax effect is declared by the following params inside its class:
    
    example: class="asset left-472 sp600 t120 z3"
    left-472 means left: -472px from the center
    sp600 is speed transition
    t120 is top to 120px
    z3 is z-index to 3
    Note: Maintain this order of params
    
    For the backgrounds, you can combine from the bgs folder :D
  %article#showcasing.slide{style: "background: url('/images/slide1.jpg') repeat-x scroll center top transparent; display: none;"}
    %img.asset.left-30.sp600.t120.z1{src: "business_archivos/macbook_002.png", style: "left: -966px; top: 120px; z-index: 1; display: inline;"}/
    .info{style: "display: none;"}
      %h2 Beautiful theme for showcasing your works.
  %article#ideas.slide.active{style: "background: url('/images/slide2.jpg') repeat-x scroll center top transparent; display: block;"}
    .info{style: "display: block;"}
      %h2 We love to turn ideas into beautiful things.
    %img.asset.left-480.sp600.t260.z1{src: "business_archivos/left.png", style: "left: 121px; top: 260px; z-index: 1; display: inline;"}/
    %img.asset.left-210.sp600.t213.z2{src: "business_archivos/middle.png", style: "left: 391px; top: 213px; z-index: 2; display: inline;"}/
    %img.asset.left60.sp600.t260.z1{src: "business_archivos/right.png", style: "left: 661px; top: 260px; z-index: 1; display: inline;"}/
  %article#tour.slide{style: "background: url('/images/slide3.jpg') repeat-x scroll center top transparent; display: none;"}
    %img.asset.left-472.sp650.t210.z3{src: "business_archivos/ipad.png", style: "left: -558px; top: 210px; z-index: 3; display: inline;"}/
    %img.asset.left-365.sp600.t270.z4{src: "business_archivos/iphone.png", style: "left: -485px; top: 270px; z-index: 4; display: inline;"}/
    %img.asset.left-350.sp450.t135.z2{src: "business_archivos/desktop.png", style: "left: -742px; top: 135px; z-index: 2; display: inline;"}/
    %img.asset.left-185.sp550.t220.z1{src: "business_archivos/macbook.png", style: "left: -746px; top: 220px; z-index: 1; display: inline;"}/
    .info{style: "display: none;"}
      %h2 Fully Responsive theme
      %a{href: "http://cleancanvas.herokuapp.com/features.html"} TOUR THE PRODUCT
  %article#responsive.slide{style: "background: url('/images/slide1.jpg') repeat-x scroll center top transparent; display: none;"}
    %img.asset.left-472.sp600.t120.z3{src: "business_archivos/html5.png", style: "left: -732px; top: 120px; z-index: 3; display: inline;"}/
    %img.asset.left-190.sp500.t120.z2{src: "business_archivos/css3.png", style: "left: -732px; top: 120px; z-index: 2; display: inline;"}/
    .info{style: "display: none;"}
      %h2
        Responsive
        %strong HTML5 & CSS3
        Theme

%ul#pagination{style: "left: 573px; display: block;"}
  %li
    %a{href: "#showcasing"} 0
  %li.active
    %a{href: "#ideas"} 1
  %li
    %a{href: "#tour"} 2
  %li
    %a{href: "#responsive"} 3
    %a#slide-left{href: "", style: "display: inline;"}
    %a#slide-right{href: "", style: "display: inline;"}



/ .row
/   /.col-lg-2
/   .col-lg-12
/     .bs-example
/       #carousel-example-generic.carousel.slide.bs-docs-carousel-example
/         %ol.carousel-indicators
/           %li{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
/           %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
/           %li.active{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
/         .carousel-inner
/           .item.active
/             %img{alt: "First slide", :src => "/images/slide1.jpg", :height => "250"}/
/           .item
/             %img{:alt => "Second slide", :src => "/images/slide2.jpg"}/
/           .item
/             %img{:alt => "Third slide", :src => "/images/slide3.jpg"}/

/         %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
/           %span.icon-prev
/         %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
/           %span.icon-next
/   /.col-lg-2

.row
  .col-lg-12.background-sky
    .page-header
      %h1#type Quienes Somos
  / Headings
  .row
    .col-lg-4
      .bs-example
        %ul.nav.nav-tabs{:style => "margin-bottom: 15px;"}
          %li.active
            %a{"data-toggle" => "tab", :href => "#section1"} Mision
          %li
            %a{"data-toggle" => "tab", :href => "#section2"} Vision
          %li
            %a{"data-toggle" => "tab", :href => "#section3"} Nuestros Valores
        #myTabContent.tab-content
          #section1.tab-pane.fade.active.in
            %p
              Mision.
          #section2.tab-pane.fade
            %p
              Vision.
          #section3.tab-pane.fade
            %p
              Nuestros Valores.
    .col-lg-4
      %h2 Nuestros Servicios
      .bs-example
        %p.text-info Gasometria.
        %p.text-info Analisis de Sangre.
    .col-lg-4
      %h2 Encuentranos
      %p
        Estamos ubicados en

      .map_container
        /%iframe{:frameborder => "0", :height => "322", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps/ms?msa=0&msid=203680980198088788374.0004d99f13e908222e1e5&ie=UTF8&t=m&ll=47.880894,-1.522293&spn=0.148286,0.348129&z=11&output=embed", :width => "380"}
