%section#feature_slider
  /
    Each slide is composed by <img> and .info
    \- .info's position is customized with css in index.css
    \- each <img> parallax effect is declared by the following params inside its class:

    example: class="asset left-472 sp600 t120 z3"
    left-472 means left: -472px from the center
    sp600 is speed transition
    t120 is top to 120px
    z3 is z-index to 3
    Note: Maintain this order of params

    For the backgrounds, you can combine from the bgs folder :D
  %article#ideas.slide{style: "background: url('/gallery/images5.jpeg') repeat-x scroll center top transparent; display: block;"}
    .info{style: "display: block;"}
      %h2
        %strong{style: "font-size:46px; text-shadow: 2px 2px #666666;"} Calidez y buena atención es nuestra característica.
    %img.asset.left-650.sp600.t50.z1{src: "/gallery/slide1.jpg", style: "left: 121px; top: 260px; z-index: 1; display: inline;", width: 550}/
    %img.asset.left-100.sp600.t150.z1{src: "/gallery/slide1-1.png", style: "left: 121px; top: 260px; z-index: 1; display: inline;", width: 318}/
    %img.asset.left200.sp600.t100.z2{src: "/gallery/slide1-2.jpg", style: "left: 391px; top: 213px; z-index: 2; display: inline;", width: 450}/
    //%img.asset.left180.sp600.t350.z1{src: "/gallery/slide1-3.jpg", style: "left: 661px; top: 260px; z-index: 1; display: inline;", width: 514}/
    //%img.asset.left60.sp733.t167.z1{src: "/gallery/slide1-4.png", style: "left: 661px; top: 260px; z-index: 1; display: inline;", width: 240}/


  %article#showcasing.slide{style: "background: url('/gallery/images5.jpeg') repeat-x scroll center top transparent; display: none;"}
    %img.asset.left10.sp600.t40.z1{src: "/gallery/slide2-1.png", style: "left: -966px; top: 120px; z-index: 1; display: inline;", width: 400}/
    %img.asset.left170.sp600.t100.z1{src: "/gallery/slide2-4.png", style: "left: -466px; top: 150px; z-index: 1; display: inline;", width: 300}/
    %img.asset.left330.sp600.t-14.z1{src: "/gallery/slide2-2.png", style: "left: -466px; top: 150px; z-index: 1; display: inline;", width: 350}/
    
    %img.asset.left300.sp600.t261.z1{src: "/gallery/slide2-8.png", style: "left: -466px; top: 150px; z-index: 1; display: inline;", width: 400}/
    
    %img.asset.left-700.sp600.t0.z1{src: "/gallery/slide2-3.png", style: "left: -466px; top: 150px; z-index: 1; display: inline;", width: 400}/

    %img.asset.left-200.sp600.t20.z1{src: "/gallery/slide2-5.png", style: "left: -466px; top: 150px; z-index: 1; display: inline;", width: 250}/
    %img.asset.left-470.sp600.t100.z1{src: "/gallery/slide2-6.png", style: "left: -466px; top: 150px; z-index: 1; display: inline;", width: 400}/
    
    %img.asset.left-650.sp600.t215.z1{src: "/gallery/slide2-7.png", style: "left: -466px; top: 150px; z-index: 1; display: inline;", width: 440}/
    
    /%img.asset.left-630.sp600.t310.z1{src: "/gallery/slide2-8.png", style: "left: -466px; top: 150px; z-index: 1; display: inline;", width: 210}/
    
    .info{style: "display: none;left:34% !important;"}
      %h2 Contamos con la mejor tecnología para brindarle un buen servicio


  %article#tour.slide{style: "background: url('/gallery/slide3-5.jpg') repeat-x scroll center top transparent; display: none;"}
    /%img.asset.left-600.sp450.t100.z2{src: "/gallery/slide3-3.jpg", style: "left: -742px; top: 135px; z-index: 2; display: inline;", width: 177}
    /%img.asset.left-400.sp600.t100.z4{src: "/gallery/slide3-2.jpg", style: "left: -485px; top: 270px; z-index: 4; display: inline;", width: 250}
    /%img.asset.left-123.sp550.t100.z1{src: "/gallery/slide3-7.jpg", style: "left: -746px; top: 220px; z-index: 1; display: inline;", width: 245}
    /%img.asset.left-600.sp550.t300.z1{src: "/gallery/slide3-5.jpg", style: "left: -746px; top: 220px; z-index: 1; display: inline;", width: 292}
    /%img.asset.left-350.sp550.t300.z1{src: "/gallery/slide3-4.jpg", style: "left: -746px; top: 220px; z-index: 1; display: inline;", width: 312}
    /%img.asset.left-50.sp550.t300.z1{src: "/gallery/slide3-6.jpg", style: "left: -746px; top: 220px; z-index: 1; display: inline;", width: 335}
    %img.asset.left-600.sp500.t94.z1{src: "/gallery/slide3-9.png", style: "left: -732px; top: 120px; z-index: 2; display: inline;", width: 700}
    .info{style: "display: none;right: 11%;top: 70px;width: 35%;"}
      %h2{style: "font-size: 66px;line-height: 69px;"} Variedad de Análisis a su Disposición.

  %article#responsive.slide{style: "background: url('/gallery/slide4.jpg') repeat-x scroll center top transparent; display: none;"}
    %img.asset.left-500.sp500.t168.z1{src: "/gallery/slide4-3.png", style: "left: -732px; top: 120px; z-index: 2; display: inline;", width: 441}/
    %img.asset.left-176.sp500.t159.z1{src: "/gallery/slide4-4.png", style: "left: -732px; top: 120px; z-index: 2; display: inline;", width: 408}/
    
    .info{style: "display: none;"}
      %h2
        Un equipazo
        %strong Profesional y Responsable
        a tu Servicio

.container
  .row
    .col-lg-2 &nbsp;
    .col-lg-3
      %ul{:style => "margin-bottom: 15px;float:left;list-style-type:none;"}
        %li{:style => "float:left;margin-right:10px;" }
          %a{:href => "https://www.facebook.com/pages/Analizatelab/662402967171984?fref=ts", :target => "blank"}
            %img{"src" => "/images/fb.png"}
        %li{:style => "float:left;margin-right:10px;" }
          %a{:href => "https://twitter.com/Analizatelab", :target => "blank"}
            %img{"src" => "/images/tw.png"}
        /%li{:style => "float:left;margin-right:10px;" }
        /  %a{:href => "#", :target => "blank"}
        /    %img{"src" => "/images/g+.png"}
        %li{:style => "float:left;margin-right:10px;" }
          %a{:href => "http://www.linkedin.com/pub/laboratorios-analizate/91/514/804", :target => "blank"}
            %img{"src" => "/images/in.png"}
        %li{:style => "float:left;margin-right:10px;" }
          %a{:href => "https://plus.google.com/117804435776886847098/", :target => "blank"}
            %img{"src" => "/images/googleplus.png"}
        /%li{:style => "float:left;margin-right:10px;" }
        /  %a{:href => "#", :target => "blank"}
        /    %img{"src" => "/images/mail.png"}
    .col-lg-3
      %a{:href => "https://play.google.com/store/apps/details?id=com.analizate.main", :target => "blank"}
        %img{"src" => "/images/androidapp.jpg", :width => "500"}

  .row
    .col-lg-12.background-sky
      .page-header
        %h1#type Quiénes Somos
    / Headings
    .row
      .col-lg-4
        .bs-example.blockHomeFix
          %ul.nav.nav-tabs{:style => "margin-bottom: 15px;"}
            %li.active
              %a{"data-toggle" => "tab", :href => "#section1"} Misión
            %li
              %a{"data-toggle" => "tab", :href => "#section2"} Visión
            %li
              %a{"data-toggle" => "tab", :href => "#section3"} Valores
            %li
              %a{"data-toggle" => "tab", :href => "#section4"} Quienes Somos
          #myTabContent.tab-content
            #section1.tab-pane.active.in
              %p
                Nuestra misión fundamental: Ser un aporte positivo a nuestra sociedad, brindando un servicio de diagnostico laboratorial de alta calidad y utilidad medica y gran beneficio a nuestros pacientes.
              %p
                Para este cometido contamos con cuatro pilares fundamentales como son la resposabilidad, la eficacia, la calidad y la calidez.
            #section2.tab-pane
              %p
                Llegar a consagrarnos en una institución respetable y confiable de apoyo diagnostico laboratorial, satisfechos de haber contribuido al desarrollo en salud hospitalaria de nuestra sociedad.
              %p
                Ser reconocido sobre todo por nuestra <b>actitud profesional y humana.</b>
            #section3.tab-pane
              %p
                Nuestras actividades se basan en los siguientes valores:
              .conttable
                .block Honestidad
                .block Confiabilidad
                .block Respeto
                .block Experiencia
                .block Espiritu de servicio
                .block Trabajo en equipo
                .block Responsabilidad
            #section4.tab-pane
              %p
                Somos una institución en salud de diagnostico clinico laboratorial que se encarga de realizar una variada gamma de exámenes, con diferentes grados de complejidad, utilizando para ello muestras de sangre, orina y otros liquidos biologicos.
              %p
                Somos un equipo de personas calificadas para brindarle un importante trato humano y un resultado laboratorial confiable con alta utilidad medica, apoyados en el uso de equipos de alta tecnologia cientifica.
              %p
                Contamos con un gran espiritu solidario, porque sabemos que nos debemos a nuestra sociedad y porque tomamos muy en cuenta el dolor humano.
      .col-lg-4
        %h2 Nuestros Servicios
        .bs-example.blockHomeFix
          - @services.each do |service|
            %p
              %a.text-info{"data-toggle" => "modal", href: "#modal-analisis#{service.id}", role: "button"}= service.name
            / Modal
            .modal.hide{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", id: "modal-analisis#{service.id}"}
              .modal-dialog
                .modal-content
                  .modal-header
                    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                    %h3#myModalLabel= service.name
                  .modal-body
                    %p= service.desc.html_safe

      .col-lg-4
        %h2 Encuéntranos
        %p
          Estamos ubicados en

        .map_container
          %iframe{frameborder: "0", height: "350", marginheight: "0", marginwidth: "0", scrolling: "no", src: "https://maps.google.com/maps?f=q&source=s_q&hl=es&geocode=&q=centro+medico+kolping+la+paz+bolivia&aq=&sll=37.0625,-95.677068&sspn=40.409448,86.572266&ie=UTF8&hq=centro+medico+kolping&hnear=La+Paz,+Departamento+Aut%C3%B3nomo+de+La+Paz,+Bolivia&ll=-16.511089,-68.157136&spn=0.026574,0.023954&t=m&output=embed", width: "380"}
