
.users-list .header h3 {
    margin-top: 0;
}
.users-list .header input.search {
    padding: 5px 6px;
    position: relative;
    top: 0;
}
.users-list .header input.search:focus {
    border: 1px solid #888888;
    box-shadow: none;
}
.users-list .header .ui-select {
    margin: 3px 40px 0 0;
}
.users-list .header .ui-dropdown {
    margin-left: 20px;
}
.users-list .header .ui-dropdown input.form-control {
    display: inline-block;
    height: 28px;
    margin: 0 8px;
    width: 60px;
}
.users-list .header a.btn-flat span {
    font-size: 17px;
    margin-right: 4px;
    position: relative;
    top: 2px;
}
.users-list .table td {
    font-size: 13px;
    vertical-align: middle;
}
.users-list .table img.avatar {
    float: left;
    margin-right: 14px;
    max-width: 45px;
    position: relative;
    top: 8px;
}
.users-list .table a.name {
    color: #3389D1;
    display: block;
    font-size: 14px;
    font-weight: 600;
    margin: 15px 0 0;
}
.users-list .table .subtext {
    color: #778391;
    font-size: 12px;
    font-style: italic;
    margin-left: 0;
    margin-top: 0;
}
.users-list .pagination {
    margin-top: 25px;
}
@media (max-width: 767px) {
.ui-dropdown .dialog .body {
    left: 58%;
    position: relative;
    width: 250px;
}
.users-list .table a.name {
    font-size: 12px;
}
.users-list .table td {
    font-size: 12px;
}
.users-list .table .avatar {
    display: none;
}
.users-list h3 {
    display: block;
    float: none;
    margin-bottom: 30px;
}
.users-list .header input.search {
    margin-bottom: 18px;
}
.users-list .header .ui-dropdown {
    float: left;
    margin-left: 0;
}
.ui-dropdown .dialog .body .form input[type="text"] {
    margin-top: 10px;
}
.ui-dropdown .dialog .body .form a {
    margin-left: 18px;
    margin-top: 10px;
}
}
