%footer.footer
  / .container
  /   %p
  /     Designed and built with all the love in the world by
  /     %a{href: "http://twitter.com/mdo", target: "_blank"} @mdo
  /     and
  /     = succeed "." do
  /       %a{href: "http://twitter.com/fat", target: "_blank"} @fat
  /   %p
  /     Code licensed under
  /     = succeed "," do
  /       %a{href: "http://www.apache.org/licenses/LICENSE-2.0", target: "_blank"} Apache License v2.0
  /     = succeed "." do
  /       %a{href: "http://creativecommons.org/licenses/by/3.0/"} CC BY 3.0
  /   %p
  /     %a{href: "http://glyphicons.com"} Glyphicons Free
  /     licensed under
  /     = succeed "." do
  /       %a{href: "http://creativecommons.org/licenses/by/3.0/"} CC BY 3.0
  /   %ul.footer-links
  /     %li
  /       %a{href: "http://blog.getbootstrap.com"} Blog
  /     %li.muted ·
  /     %li
  /       %a{href: "https://github.com/twbs/bootstrap/issues?state=open"} Issues
  /     %li.muted ·
  /     %li
  /       %a{href: "https://github.com/twbs/bootstrap/releases"} Changelog