.nav-reaction
  .navbar.navbar-static-top
    / navbar-fixed-top
    .navbar-inner
      .container
        %a.brand{href: "http://www.sitediscount.ru/verso/index.html"}
          %span VERSO
          / <img src="assets/img/Logo.png" alt="Logo">
        #main-nav
          .nav-collapse.collapse
            %ul.nav.sf-js-enabled.sf-shadow
              %li.active
                %a{href: "http://www.sitediscount.ru/verso/index.html"} Home
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:"}
                  Portfolio
                  %b.caret
                %ul.dropdown-menu{style: "visibility: hidden; display: none;"}
                  %li
                    %a{href: "http://www.sitediscount.ru/verso/portfolio-two-columns.html"} Two Column
                  %li
                    %a{href: "http://www.sitediscount.ru/verso/portfolio-three-columns.html"} Three Column
                  %li
                    %a{href: "http://www.sitediscount.ru/verso/portfolio-four-columns.html"} Four Column
                  %li
                    %a{href: "http://www.sitediscount.ru/verso/portfolio_single_project.html"} Portfolio single
                  %li.dropdown-submenu
                    %a{href: "#", tabindex: "-1"} More options
                    %ul{style: "display: none; visibility: hidden;"}
                      %li
                        %a{href: "http://www.sitediscount.ru/verso/portfolio_single_project%20_video_post.html", tabindex: "-1"} Video project
                      %li
                        %a{href: "http://www.sitediscount.ru/verso/portfolio_single_project%20_alt.html", tabindex: "-1"} Alternative slider
                  %li
                    %a{href: "http://www.sitediscount.ru/verso/portfolio_single_project.html"} Portfolio single
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:"}
                  Pricing
                  %b.caret
                %ul.dropdown-menu{style: "visibility: hidden; display: none;"}
                  %li
                    %a{href: "http://www.sitediscount.ru/verso/pricing.html"} Pricing tables
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:"}
                  Pages
                  %b.caret
                %ul.dropdown-menu{style: "visibility: hidden; display: none;"}
                  %li
                    %a{href: "http://www.sitediscount.ru/verso/about_us.html"} About & FAQ
                  %li
                    %a{href: "http://www.sitediscount.ru/verso/contact.html"} Contact Us
                  %li
                    %a{href: "http://www.sitediscount.ru/verso/team.html"} Team
                  %li
                    %a{href: "http://www.sitediscount.ru/verso/features.html"} Features
                  %li
                    %a{href: "http://www.sitediscount.ru/verso/components.html"} Components
                  %li
                    %a{href: "http://www.sitediscount.ru/verso/404.html"} 404 page
                  %li
                    %a{href: "http://www.sitediscount.ru/verso/sitemap.html"} Sitemap
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:"}
                  Blog
                  %b.caret
                %ul.dropdown-menu{style: "visibility: hidden; display: none;"}
                  %li
                    %a{href: "http://www.sitediscount.ru/verso/blog-single.html"} Blog Single Page
                  %li
                    %a{href: "http://www.sitediscount.ru/verso/blog-category.html"} Blog category
                  %li
                    %a{href: "http://www.sitediscount.ru/verso/blog-category-alt.html"} Blog category alt
                  %li
                    %a{href: "http://www.sitediscount.ru/verso/blog-pinterest-style.html"} Pinterest        