.headertop.needhead
  .nav-reaction
    .navbar.navbar-static-top
      / navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{href: "index.html"}
            %span VERSO
            / <img src="assets/img/Logo.png" alt="Logo">
          #main-nav
            .nav-collapse.collapse
              %ul.nav.sf-js-enabled.sf-shadow
                %li.active
                  %a{href: "index.html"} Home
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:"}
                    Portfolio
                    %b.caret
                  %ul.dropdown-menu{style: "visibility: hidden; display: none;"}
                    %li
                      %a{href: "portfolio-two-columns.html"} Two Column
                    %li
                      %a{href: "portfolio-three-columns.html"} Three Column
                    %li
                      %a{href: "portfolio-four-columns.html"} Four Column
                    %li
                      %a{href: "portfolio_single_project.html"} Portfolio single
                    %li.dropdown-submenu
                      %a{href: "#", tabindex: "-1"} More options
                      %ul{style: "display: none; visibility: hidden;"}
                        %li
                          %a{href: "portfolio_single_project _video_post.html", tabindex: "-1"} Video project
                        %li
                          %a{href: "portfolio_single_project _alt.html", tabindex: "-1"} Alternative slider
                    %li
                      %a{href: "portfolio_single_project.html"} Portfolio single
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:"}
                    Pricing
                    %b.caret
                  %ul.dropdown-menu{style: "visibility: hidden; display: none;"}
                    %li
                      %a{href: "pricing.html"} Pricing tables
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:"}
                    Pages
                    %b.caret
                  %ul.dropdown-menu{style: "visibility: hidden; display: none;"}
                    %li
                      %a{href: "about_us.html"} About & FAQ
                    %li
                      %a{href: "contact.html"} Contact Us
                    %li
                      %a{href: "team.html"} Team
                    %li
                      %a{href: "features.html"} Features
                    %li
                      %a{href: "components.html"} Components
                    %li
                      %a{href: "404.html"} 404 page
                    %li
                      %a{href: "sitemap.html"} Sitemap
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:"}
                    Blog
                    %b.caret
                  %ul.dropdown-menu{style: "visibility: hidden; display: none;"}
                    %li
                      %a{href: "blog-single.html"} Blog Single Page
                    %li
                      %a{href: "blog-category.html"} Blog category
                    %li
                      %a{href: "blog-category-alt.html"} Blog category alt
                    %li
                      %a{href: "blog-pinterest-style.html"} Pinterest style
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"} Sign in
                  %ul.dropdown-menu{style: "visibility: hidden; display: none;"}
                    %li
                      %div{style: "padding: 15px; padding-bottom: 0px;"}
                        %form{"accept-charset" => "UTF-8", action: "login", method: "post"}
                          %input#username{name: "username", placeholder: "Username", style: "margin-bottom: 15px;", type: "text"}/
                          %input#password{name: "password", placeholder: "Password", style: "margin-bottom: 15px;", type: "password"}/
                          %input#remember-me{name: "remember-me", style: "float: left; margin-right: 10px;", type: "checkbox", value: "1"}/
                          %label.string.optional{for: "sign-in"} Remember me
                          %input#sign-in.btn.btn-info.btn-block{type: "submit", value: "Sign In"}/
                          %label{style: "text-align:center;margin-top:5px"} or
                          %input#sign-in-google.btn.btn-primary.btn-block{type: "button", value: "Sign In with Google"}/
                          %input#sign-in-twitter.btn.btn-primary.btn-block{type: "button", value: "Sign In with Twitter"}/
            %select
              %option{selected: "selected", value: ""} Please choose page
              %option{value: "index.html"} Home
              %option{value: "javascript:"}
                Portfolio
              %option{value: "portfolio-two-columns.html"} Two Column
              %option{value: "portfolio-three-columns.html"} Three Column
              %option{value: "portfolio-four-columns.html"} Four Column
              %option{value: "portfolio_single_project.html"} Portfolio single
              %option{value: "#"} More options
              %option{value: "portfolio_single_project _video_post.html"} Video project
              %option{value: "portfolio_single_project _alt.html"} Alternative slider
              %option{value: "portfolio_single_project.html"} Portfolio single
              %option{value: "javascript:"} Pricing
              %option{value: "pricing.html"} Pricing tables
              %option{value: "javascript:"} Pages
              %option{value: "about_us.html"} About & FAQ
              %option{value: "contact.html"} Contact Us
              %option{value: "team.html"} Team
              %option{value: "features.html"} Features
              %option{value: "components.html"} Components
              %option{value: "404.html"} 404 page
              %option{value: "sitemap.html"} Sitemap
              %option{value: "javascript:"} Blog
              %option{value: "blog-single.html"} Blog Single Page
              %option{value: "blog-category.html"} Blog category
              %option{value: "blog-category-alt.html"} Blog category alt
              %option{value: "blog-pinterest-style.html"} Pinterest style
              %option{value: "#"} Sign in