#sidebar-nav
  %ul#dashboard-menu
    %li.active
      .pointer
        .arrow
        .arrow_border
      %a{:href => "#"}
        %i.icon-home
        %span Home
    %li
      %a{:href => "#"}
        %i.icon-signal
        %span Charts
    %li
      %a.dropdown-toggle{:href => "#"}
        %i.icon-group
        %span Usuarios
        %i.icon-chevron-down
      %ul.submenu
        %li= link_to "Lista de Usuarios", "#"
        %li= link_to "Nuevo Usuario", "#"
        %li= link_to "Perfil de Usuario", "#"
    %li
      %a.dropdown-toggle{:href => "#"}
        %i.icon-edit
        %span Forms
        %i.icon-chevron-down
      %ul.submenu
        %li
          %a{:href => "javascript:if(confirm('http://detail.herokuapp.com/form-showcase.html  \\n\\nThis file was not retrieved by Teleport Pro, because it was unavailable, or its retrieval was aborted, or the project was stopped too soon.  \\n\\nDo you want to open it from the server?'))window.location='http://detail.herokuapp.com/form-showcase.html'", :tppabs => "http://detail.herokuapp.com/form-showcase.html"} Form showcase
        %li
          %a{:href => "form-wizard.html"} Form wizard
    %li
      %a{:href => "gallery.html"}
        %i.icon-picture
        %span Gallery
    %li
      %a{:href => "calendar.html"}
        %i.icon-calendar-empty
        %span Calendar
    %li
      %a{:href => "tables.html"}
        %i.icon-th-large
        %span Tables
    %li
      %a.dropdown-toggle.ui-elements{:href => "#"}
        %i.icon-code-fork
        %span UI Elements
        %i.icon-chevron-down
      %ul.submenu
        %li
          %a{:href => "ui-elements.html"} UI Elements
        %li
          %a{:href => "icons.html"} Icons
    %li
      %a{:href => "personal-info.html", :tppabs => "http://detail.herokuapp.com/personal-info.html"}
        %i.icon-cog
        %span My Info
    %li
      %a.dropdown-toggle{:href => "#"}
        %i.icon-share-alt
        %span Extras
        %i.icon-chevron-down
      %ul.submenu
        %li
          %a{:href => "code-editor.html", :tppabs => "http://detail.herokuapp.com/code-editor.html"} Code editor
        %li
          %a{:href => "grids.html", :tppabs => "http://detail.herokuapp.com/grids.html"} Grids
        %li
          %a{:href => "signin.html", :tppabs => "http://detail.herokuapp.com/signin.html"} Sign in
        %li
          %a{:href => "signup.html", :tppabs => "http://detail.herokuapp.com/signup.html"} Sign up